<div class="example-card" (click)="openProductInfoDialog()">
    <div class="sub-card">
    <div class="image-container">
        <div class="img">
            <img src="https://www.shutterstock.com/image-photo/fresh-fruits-assorted-colorful-backgroundvitamins-260nw-252338818.jpg">
        </div>
    </div>

    <div class="info-container">

        <div class="info-div">
            <div class="left-panel">
                <span>Best quality material for your exam preparation check it now...</span>
            </div>

        </div>
        <!-- <mat-card-content>
          <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
            bred for hunting.
          </p>
        </mat-card-content> -->

        <div>
            <button mat-stroked-button disabled="true" style="color: green;border: none;padding: 0px 0px;">
                Delivered
                <mat-icon class="matIcon">check_circle</mat-icon>
            </button>
        </div>


    </div>
    </div>


    <div class="price-info">
        <div class="right-panel">
            <span style="font-weight: bolder;">Order counts : 10</span>
        </div>

        <div class="right-panel">
            <span style="font-weight: bolder;">Total : 10000</span>
        </div>

    </div>


</div>


